<h2>Registre-se</h2>
<form action="/register" method="POST" class="form">
    <label>Username:</label>
    <input type="text" name="name" placeholder="Digite seu nome de usuário">
    <label>Email:</label>
    <input type="email" name="email" placeholder="Informe um email">
    <label>Senha:</label>
    <input type="password" name="password" placeholder="Crie uma senha">
    <label>Confirmação de senha:</label>
    <input type="password" name="passwordConfirm" placeholder="Confirme sua senha">
    <button type="submit">Registrar-se</button>
</form>
<a href="/login">Já tem uma conta? faça login</a>