<h2>Criando um pensamento</h2>
<form action="toughts/add" method="POST" class="form">
    <label>Digite um pensamento:</label>
    <textarea name="tought" placeholder="No que você está pensando?"></textarea>
    <button type="submit">Postar</button>
</form>