<h2>Editando um pensamento</h2>
<form action="toughts/edit/{{toughtId}}" method="POST" class="form">
    <label>Altere seu pensamento:</label>
    <textarea name="tought" placeholder="No que você está pensando?" rows="5">{{tought}}</textarea>
    <button type="submit">Salvar</button>
</form>